fastapi
uvicorn
firebase-admin
PyPDF2
python-multipart
pydantic
httpx
aiofiles
jinja2
python-dotenv
sqlalchemy
databases
alembic
pytest
python-docx
google-cloud-storage
google-cloud-firestore
google-auth
google-auth-oauthlib
google-auth-httplib2    
requests
google-api-python-client
pydantic[email]
email-validator
pdfPlumber
google.generativeai
